$c-gray: #eee;

/* #region Colors */
$turquoise: #03839e;
$yellow: #ffe339;
$yelow-light: #ffec7a;
$grey: #b3b3b3;
$grey-1: #333333;
$grey-2: #4f4f4f;
$grey-light: #f8f8f8;
$red: #eb5757;

$white: #fff;
$black: #000;
$black-1: #121212;
/* #endregion Colors */

/* #region Font-properties */
$font-headings: 'Bebas Neue', sans-serif;
$font-text: 'Manrope', sans-serif;
/* #endregion Font-properties */

/* #region Sizes */
/* #endregion Sizes */
