.team {
  @extend %flex-col-center;

  &__picture {
    margin-bottom: 30px;
  }

  &__description {
    color: $gray-2;
    font-family: $font-text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    position: relative;
    padding-bottom: 58px;

    &::after {
      content: "";
      position: absolute;
      width: 320px;
      height: 293px;
      top: 101px;
      left: -30px;
      background-image: url(../images/team-bg.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center bottom;
      z-index: -1;
    }
  }
}
